---
import bitMojiHi from "@/assets/bitmoji/hi.webp";
import bitMojiWork from "@/assets/bitmoji/work.webp";
import bitMojiEducation from "@/assets/bitmoji/education.webp";
// images

import CardInfo from "@/components/card-info.astro";

import XCard from "@/components/x-card.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import CurrentTimeCard from "@/components/current-time-card.astro";
import { Button } from "@/components/ui/button";
import { EXPERIENCES, STUDIES } from "@/constants";

const tucumanTime = new Date().toLocaleTimeString("es-AR", {
  timeZone: "America/Argentina/Tucuman",
  hour12: false,
});

const timezone = Intl.DateTimeFormat("es-AR").resolvedOptions().timeZone;

export const prerender = true; // para hacer statica la pagina
---

<BaseLayout
  title="Iván Bongiovani - Full Stack Developer"
  description="Iván Bongiovani - Full Stack Developer - Portfolio, Repositories, CV, About Me, Contact, Timezone, Now, Experience, X, Studies, Study, Twitter, Github Tailwindcss, React, Nextjs, Vitejs, Express, Nestjs, Prisma, Docker, Git, JavaScript, TypeScript, Astro, Shadcn"
>
  <section class="container mx-auto p-10">
    <section class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <CardInfo className="h-full md:col-span-2" title="Sobre Mí" icon>
        <i
          data-lucide="podcast"
          slot="icon"
          class="mr-2 hover:text-primary duration-300 transition-colors"></i>
        <section
          class="flex h-full w-full items-center justify-between gap-2 md:items-start"
        >
          <div
            class="md:h-full md:w-3/4 md:border-r-2 md:pr-5 text-muted-foreground leading-loose"
          >
            <h1 class="font-bold text-4xl">
              Hola, soy <span class="text-primary">Iván Bongiovani</span>
            </h1>
            <p class="text-lg font-light leading-loose text-muted-foreground">
              un desarrollador full stack apasionado por aprender nuevas
              tecnologías, con un enfoque especial en inteligencia artificial y
              la creación de soluciones innovadoras. Enfocado en construir
              aplicaciones web escalables e inteligentes con
              <strong>Next.js, Astro, Node.js, Prisma</strong> y más.
            </p>
          </div>
          <Image
            src={bitMojiHi}
            class="hidden aspect-square w-1/4 object-cover object-center md:block"
            alt="Personaje animado saludando con una mano"
            loading="eager"
          />
        </section>
      </CardInfo>

      <CardInfo
        transition:name="repositories"
        link="/repositories"
        title="Repositorios"
        className="md:h-full rounded-2xl transition-transform hover:scale-105"
        icon
      >
        <i
          data-lucide="folder-git-2"
          slot="icon"
          class="mr-2 hover:text-primary duration-300 transition-colors"></i>
        <section
          class="flex h-full w-full items-center justify-between gap-2 md:items-start"
        >
          <p class="h-full text-muted-foreground leading-loose">
            ¿Ya viste mis proyectos destacados? Si quieres conocer cómo trabajo,
            aquí tienes mis repositorios de GitHub para que descubras de primera
            mano lo que soy capaz de construir.
          </p>
        </section>
      </CardInfo>

      <CardInfo
        className="col-span-1 md:col-span-2 md:h-full"
        title="Experiencia"
        icon
      >
        <i
          data-lucide="user"
          slot="icon"
          class="mr-2 hover:text-primary duration-300 transition-colors"></i>
        <section class="flex h-full w-full items-center justify-between gap-2">
          <ul class="list-disc space-y-4 h-full md:w-3/4 md:border-r-2 pl-5">
            {
              EXPERIENCES.map((exp) => (
                <li>
                  <h3 class="font-semibold text-lg">{exp.position}</h3>
                  {exp.link ? (
                    <a
                      class="text-primary text-sm underline"
                      href={exp?.link ?? ""}
                    >
                      {exp.company}
                    </a>
                  ) : (
                    <p class="text-primary text-sm"> {exp.company} </p>
                  )}
                  <p class="text-muted-foreground text-sm">
                    {exp.start} - {exp.end}
                  </p>
                </li>
              ))
            }
          </ul>
          <Image
            src={bitMojiWork}
            class="hidden aspect-square w-1/4 object-cover object-center md:block"
            alt="Personaje animado saludando con una mano"
            loading="eager"
          />
        </section>
      </CardInfo>

      <CardInfo title="Currículo" icon>
        <i
          data-lucide="download"
          slot="icon"
          class="mr-2 hover:text-primary duration-300 transition-colors"></i>
        <figure>
          <object
            aria-label="CV Ivan Bongiovanni Full stack Developer 2025"
            data={"/pdf/CV-Full-Ivan-Bongiovanni.pdf"}
            type="application/pdf"
            width="100%"
            aria-labelledby="pdf-title"
          >
            <figcaption id="pdf-title">
              CV Ivan Bongiovanni Full stack Developer 2025
            </figcaption>
          </object>
        </figure>
        <div class="mt-4 flex flex-col gap-2">
          <p class="text-muted-foreground text-sm">
            Ver y descargar mi currículo haciendo clic en el botón de abajo
          </p>
          <div
            class="card-actions mt-2 flex w-full items-center justify-center"
          >
            <Button className="rounded-2xl">
              <a
                target="_blank"
                href={"/pdf/CV-Bongiovanni-Ivan-Front-End-ats.pdf"}
                class="flex items-center gap-2"
              >
                Descargar currículo
              </a>
            </Button>
          </div>
        </div>
      </CardInfo>

      <XCard />

      <CardInfo
        className="col-span-1 md:col-span-2 md:h-full"
        title="Proyecto Actual"
        icon
      >
        <i
          data-lucide="laptop"
          slot="icon"
          class="mr-2 hover:text-primary duration-300 transition-colors"></i>
        <p class="text-muted-foreground leading-loose">
          Estoy desarrollando una app integrada con IA que genera líneas de
          tiempo y la posibilidad de poder hablar con la ia sobre ese video en
          cuestion, con autenticación y gestión de usuarios.
        </p>
      </CardInfo>

      <!--  <LocationCard
        className="col-span-1 md:row-span-3 md:h-full"
        coordinates={coordinates}
      /> -->

      <section class="flex flex-col gap-4 w-full md:col-span-2">
        <CardInfo title="Frase Favorita" icon>
          <span slot="icon">
            <i
              data-lucide="quote"
              slot="icon"
              class="mr-2 hover:text-primary duration-300 transition-colors"
            ></i>
          </span>
          <p class="text-muted-foreground">"A mover las manitas" - midudev</p>
        </CardInfo>

        <CurrentTimeCard time={tucumanTime} timeZone={timezone} />

        <CardInfo title="Dato Curioso" icon>
          <i
            data-lucide="joystick"
            slot="icon"
            class="mr-2 hover:text-primary duration-300 transition-colors"></i>
          <p class="text-muted-foreground">Soy alergico al cambio de clima!</p>
        </CardInfo>
      </section>

      <!-- 
      Educacion card
       -->

      <CardInfo
        className="col-span-1 md:col-span-2 md:h-full"
        title="Educación"
        icon
      >
        <i
          data-lucide="file"
          slot="icon"
          class="mr-2 hover:text-primary duration-300 transition-colors"></i>
        <section class="flex h-full w-full items-center justify-between gap-2">
          <Image
            src={bitMojiEducation}
            class="hidden aspect-square w-1/4 object-cover object-center md:block"
            alt="Personaje animado cargando unos libros"
            loading="eager"
          />
          <ul class="list-disc space-y-4 h-full md:w-3/4 md:border-l-2 pl-10">
            {
              STUDIES.map((study) => (
                <li>
                  <h3 class="font-semibold text-lg">{study.title}</h3>
                  {study.link ? (
                    <a
                      class="text-primary text-sm underline"
                      href={study?.link ?? ""}
                    >
                      {study.institution}
                    </a>
                  ) : (
                    <p class="text-primary text-sm"> {study.institution} </p>
                  )}
                  <p class="text-muted-foreground text-sm">{study.date}</p>
                </li>
              ))
            }
          </ul>
        </section>
      </CardInfo>
    </section>
  </section>
</BaseLayout>

<script>
  import {
    Download,
    File,
    FolderGit2,
    Joystick,
    Laptop,
    Podcast,
    Quote,
    User,
    createIcons,
  } from "lucide";

  createIcons({
    icons: {
      Download,
      File,
      FolderGit2,
      Joystick,
      Laptop,
      Podcast,
      Quote,
      User,
    },
  });
</script>
