---
import "@/styles/globals.css";
import "@/styles/fonts.css";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	ogImage?: URL | undefined;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

if (Astro.props.ogImage === undefined) {
	Astro.props.ogImage = new URL("home.webp", canonicalURL);
}

const { title, description, ogImage = "/home.webp" } = Astro.props;
---

<meta charset="utf-8" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(ogImage, Astro.url)} />
<meta property="og:site_name" content="Ivan Bongiovanni Portfolio" />
<meta property="og:locale" content="es_AR" />

<!-- Twitter -->

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:site" content={canonicalURL} />
<meta property="twitter:image" content={new URL(ogImage, Astro.url)} />

<!-- Meta Tags SEO -->
<meta
  name="keywords"
  content="portfolio, bongiovanni, bongiovanniivan, javascript, typescript, astro, nextjs, tailwindcss, shadcn, prisma, docker, git, fullstack, developer, tucuman, argentina, repositories, cv, frontend, backend,"
/>

<!-- Iconos -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Canonical -->
<link rel="canonical" href={canonicalURL} />

<!-- Favicon Shortcut (si es necesario) -->
<link rel="shortcut icon" type="image/svg+xml" href="/favicon.ico" />

<!-- Manifest -->
<link rel="manifest" href="/site.webmanifest" />
