---
import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
import type { Repository } from "@/types";
import sanitizeHtml from "sanitize-html";
import Prose from "@/components/prose.astro";

import ZoomableImage from "./zoomable-image.astro";

interface Props {
  repository: Repository;
}

const { repository } = Astro.props;

if (!repository) {
  Astro.redirect("/");
}

// Sanitizar el HTML del README
const sanitizedHtml = sanitizeHtml(repository.readme || "", {
  allowedTags: sanitizeHtml.defaults.allowedTags.concat(["pre", "code"]),
  allowedAttributes: {
    ...sanitizeHtml.defaults.allowedAttributes,
    code: ["class"],
  },
});

export const prerender = true;
---

<Card className="w-full relative h-full">
  <CardHeader className="flex flex-col gap-4">
    {
      repository?.image && (
        <ZoomableImage src={repository?.image} alt={repository?.name} />
      )
    }
    <CardTitle className="text-3xl underline">{repository?.name}</CardTitle>
  </CardHeader>
  <CardContent className="flex flex-col gap-4 ">
    {
      repository.description && (
        <p class=" text-lg">{repository?.description}</p>
      )
    }
    {
      repository.language && (
        <p>
          <strong>Lenguaje principal:</strong>
          {repository?.language}
        </p>
      )
    }

    {
      repository?.topics && repository?.topics?.length > 0 && (
        <div class="flex flex-wrap gap-2">
          <strong>Temas:</strong>
          {repository.topics?.map((topic: string) => (
            <Badge className="select-none rounded-2xl">{topic}</Badge>
          ))}
        </div>
      )
    }

    <div class="flex space-x-4">
      <Button variant="outline" className="rounded-2xl">
        <a
          href={repository?.html_url}
          target="_blank"
          rel="noopener noreferrer"
        >
          Ver en GitHub
        </a>
      </Button>
      {
        repository?.homepage && (
          <Button className="rounded-2xl">
            <a
              href={repository?.homepage}
              target="_blank"
              rel="noopener noreferrer"
            >
              Ver en sitio web
            </a>
          </Button>
        )
      }
    </div>
    {
      repository?.readme && (
        <Prose class="prose p-4">
          <div set:html={sanitizedHtml} />
        </Prose>
      )
    }
  </CardContent>
  <Badge className="absolute hidden md:block rounded-2xl top-2 right-2"
    >Zoom y arrastra para mover</Badge
  >
</Card>
